version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"] # we are not interested in patch updates. this will still pull in security updates
    groups:
      aws-sdk:
        patterns:
          - "github.com/aws/aws-sdk-go-v2/*"
          - "github.com/aws/smithy-go"
      azure-sdk:
        patterns:
          - "github.com/Azure/azure-sdk-for-go/sdk/*"
      k8s:
        patterns:
          - "k8s/*"
