<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016-2019, Fraunhofer AISEC. All rights reserved.
  ~
  ~
  ~            $$\                           $$\ $$\   $$\
  ~            $$ |                          $$ |\__|  $$ |
  ~   $$$$$$$\ $$ | $$$$$$\  $$\   $$\  $$$$$$$ |$$\ $$$$$$\    $$$$$$\   $$$$$$\
  ~  $$  _____|$$ |$$  __$$\ $$ |  $$ |$$  __$$ |$$ |\_$$  _|  $$  __$$\ $$  __$$\
  ~  $$ /      $$ |$$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |    $$ /  $$ |$$ |  \__|
  ~  $$ |      $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$\ $$ |  $$ |$$ |
  ~  \$$$$$$\  $$ |\$$$$$   |\$$$$$   |\$$$$$$  |$$ |  \$$$   |\$$$$$   |$$ |
  ~   \_______|\__| \______/  \______/  \_______|\__|   \____/  \______/ \__|
  ~
  ~ This file is part of Clouditor Community Edition.
  ~
  ~ Clouditor Community Edition is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Clouditor Community Edition is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ long with Clouditor Community Edition.  If not, see <https://www.gnu.org/licenses/>
  -->

<Configuration status="WARN">
  <Properties>
    <Property name="log-path">log/</Property>
  </Properties>
  <CustomLevels>
    <CustomLevel intLevel="50" name="POLICY"/>
  </CustomLevels>
  <Appenders>
    <RollingFile fileName="${log-path}/info/clouditor-info.log"
      filePattern="${log-path}/info/$${date:dd-MM-yyyy}/clouditor-trace-%d{yyyy-MM-dd-HH-mm}-%i.log"
      name="info-log">
      <PatternLayout>
        <pattern>%d %-5p %C{1} - %marker: %m%n
        </pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
      </Policies>
    </RollingFile>
    <RollingFile fileName="${log-path}/debug/clouditor-debug.log"
      filePattern="${log-path}/debug/$${date:dd-MM-yyyy}/clouditor-trace-%d{yyyy-MM-dd-HH-mm}-%i.log"
      name="debug-log">
      <PatternLayout>
        <pattern>%d %-5p %C{1} - %marker: %m%n
        </pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
      </Policies>
    </RollingFile>
    <RollingFile fileName="${log-path}/error/clouditor-error.log"
      filePattern="${log-path}/error/$${date:dd-MM-yyyy}/clouditor-error-%d{yyyy-MM-dd-HH-mm}-%i.log"
      ignoreExceptions="false"
      name="error-log">
      <PatternLayout>
        <pattern>%d %-5p %C{1} - %marker: %m%n
        </pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"
          modulate="true"/>
      </Policies>
    </RollingFile>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p %notEmpty{[%X{jobId}] }%m%n"/>
      <ThresholdFilter level="INFO"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef level="INFO" ref="info-log"/>
      <AppenderRef level="ERROR" ref="error-log"/>
      <AppenderRef level="DEBUG" ref="debug-log"/>
    </Root>
  </Loggers>
</Configuration>
